@import '../../assets/styles/config';

#list-screen {
  .content.list {
    .carousel {
      position: relative;
      margin-top: -150px;
     
      .alphabet {
        height: 150px;
        display: block;
        text-align: center;

        .list-letters {
          display: flex;
          width: 390px;

          margin: 0 auto;
          position: relative;

          .letter {
            display: inline-block;
            border: none;
            background: transparent;
            width: 130px;
            height: 130px;
            outline: none;
            text-align: center;
            margin: 0 auto;
          }
          .letter span {
            color: #fff;
            font-size: 32px;
            font-weight: 300;
          }
        }
      }

      .slide {
        width: 130px;
        display: inline-block;        
        text-align: center;
        margin: 0 auto;
        .letter {
          width: 130px;
          height: 130px;
          border: none;
          outline: none;
          background: transparent;
        }
        .letter span {
          color: #fff;
          font-size: 32px;
          font-weight: 300;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  #list-screen {
    .content.list {
      .carousel {
        .alphabet {
          height: 120px;
          .list-letters {
            width: 100%;
            .letter {
              height: 110px;
            }
            .letter span{
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}