#header {
  $column-center-width: 276px;
  $logo-width: 150px;
  
  position: relative;
  width: 100%;
  // z-index: 9;

  .logo {
    width: $logo-width;
    max-width: $logo-width;
    display: block;
  }

  .lines {
    display: flex;
    width: 100%;
    height: 150px;
    
    .column {
      display: inline-flex;
      height: 150px;
    }
    .column-border {
      width: calc((100% - 276px) / 2);
    }
    .column-left {
      border-top: solid 2px #fff;
    }
    .column-center {
      width: $column-center-width;
      background-image: url(/images/lines.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center top;
    }
  }
}

@media (max-width: 1080px) {
  #header {
    .lines {
      .column-border {
        width: 20%;
      }
      .column-center {
        width: 60%;
      }
    }
  }
}