#alphabet {
  .list-letters {
    display: flex;
    width: 390px;

    margin: 0 auto;
    position: relative;
    margin-top: -174px;
    overflow: hidden;
    height: 150px;

    .item-carousel {
      position: relative;
      right: 0;
      font-size: 0;
      width: 200%;

      .item {
        box-sizing: border-box;
        display: inline-block;
        height: 130px;
        width: 130px;
        background-color: transparent;
        border: none;
        font-size: 36px;
        text-align: center;
        vertical-align: middle;
        line-height: 164px;
        user-select: none;
        color: #fff;
        font-weight: 300;
      }
    }  
  }

  .btn {
    position: absolute;
    top: 32px;
    cursor: pointer;
    height: 88px;
    width: 30%;
  }
  .left-btn {
    left: 10px;
  }
  .right-btn {
    right: 10px;
  }
}

@media (max-width: 850px) {
  .container {
    width: 200px; /* meant to hold 2 items */
  }
}

.slide-enter {
  transform: translateX(0px);
}
